.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #559DBD;
}

.item {
    float: left;
}

.item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}
.item a:hover {
    background-color: blue;
}

.dropdown-content {
    display: none; 
    position: absolute;
    top: 17%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lightblue}

.dropdown:hover .dropdown-content {
    display: inline-block;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}